body{
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}
#img{
    text-align: center;
    height: 200px;
    width: 200px;
}
img{
    text-align: center;
    margin: 25px auto;
    height: 200px;
    width: 200px;
}